header {
    background: 
      /* top, transparent red */ 
      linear-gradient(
        rgba(24, 24, 24, 0.45), 
        rgba(24, 24, 24, 0.45)
      ),
      /* bottom, image */
      url('../../assets/image/bg-header.jpg');
    background-position-x: -300px;
    background-position-y: -130px;
    font-family: $font-heading;
    height: 100%;
    min-height: 882px;
}

header {
    a.nav-link {
        color: $default-color!important;
        font-weight: 300;
        font-size: 16px;
    }
    .navbar-dark .navbar-nav .active>.nav-link,
    a.nav-link:hover,
    a.nav-link:focus, {
        color: #8799A3!important;
    }
    .rounded {
        border-radius: 2rem!important;
        text-transform: uppercase;
        font-size: 16px;
        padding-left: 2rem;
        padding-right: 2rem;
        color: $yellow-gold;
        border-color: $yellow-gold;
        box-shadow: 1px 2px 5px rgba(255, 255, 0, 0.753);

    }
    h2:first-child {
        font-family: $font-heading2;
    }
    h1 {
        font-weight: 900;
        font-size: 45px;
    }
    h1 span {
        color: #0081FF;
    }
    h2:nth-child(3) {
        font-weight: 300;
    }
    h1,
    h2 {
        color: $default-color;
    }
    p {
        color: #636363;
        font-size: 18px;
    }
    .container:nth-child(2) {
        padding-top: 15rem;
    }
    .btn-dark {
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 500;
        padding: 15px 30px;
        border-radius: 2rem;
        background-color: #252525;
        border-color: #252525;
        box-shadow: 1px 2px 5px #000000;
    }
}

.bluesky-bg {
    background-color: $bluesky;
}
#bluesky-start {
    padding-top: 100px;
    padding-bottom: 20px;
}
#bluesky-end {
    padding-top: 70px;
    padding-bottom: 100px;
}
.blues-bg {
    background-color: $blues;
    padding-top: 70px;
    padding-bottom: 40px;
}
section{
    h1,h2,p, .media-body {
        color: $default-color;
    }
    h2 {
        font-family: $font-heading2;
        margin-bottom: 2rem;
    }
    h1 {
        font-family: $font-heading;
        font-weight: 700;
        font-size: 41px;
        line-height: 2.9rem;
    }
    p {
        font-family: $font-content;
        font-size: 18px;
    }

    img {
        width: 58px;
        height: 57px;
    }
    .media-body h4 {
        text-transform: capitalize;
        font-family: $font-heading;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .mr-45 {
        margin-right: 2rem!important;
    }

    #social-link a {
        color: $icon-color;
        padding: 0 10px;
        font-size: 20px;
    }
    #social-link a .active, #social-link a:hover {
        color: $default-color;
    }
    
}
