h1,
h2,
h3,
h4,
h5,
h6,
p {
    letter-spacing: $setengah-space;
}
p {
    font-size: $font-paragraf;
}
.btn {
    font-family: $font-heading;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    border-radius: 2rem!important;
}

header {
    background: 
      /* top, transparent red */ 
      linear-gradient(
        rgba(37, 37, 37, 0.6), 
        rgba(37, 37, 37, 0.6)
      ),
      /* bottom, image */
      url('../../assets/image/bg-header.jpg');
    background-position-x: -115px;
    background-position-y: -130px;
    background-size: 2250px;
    font-family: $font-heading;
    height: 100%;
    min-height: 882px;
}

header {
    a.nav-link {
        color: $default-color!important;
        font-weight: 400;
        font-size: 16px;
    }
    .navbar-dark .navbar-nav .active>.nav-link,
    a.nav-link:hover,
    a.nav-link:focus, {
        color: #8799A3!important;
    }
    .btn-outline-warning {
        @extend .btn;
        padding: .5rem 2.2rem;
        color: $yellow-gold;
        border: 2px solid $yellow-gold;
        box-shadow: 0px 10px 30px 0px rgba(255, 255, 0, 0.35);
    }
    h2:first-child {
        font-family: $font-heading2;
    }
    h1 {
        font-weight: 900;
        font-size: 45px;
    }
    h1 span {
        color: #0081FF;
    }
    h2:nth-child(3) {
        font-weight: 300;
    }
    h1,
    h2 {
        color: $default-color;
    }
    p {
        color: #636363;
    }
    .container:nth-child(2) {
        padding-top: 15rem;
    }
    .btn-dark {
        @extend .btn;
        padding: 1.2rem 2.2rem;
        background-color: #252525;
        border-color: #252525;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.4);
    }
}

.bluesky-bg {
    background-color: $bluesky;
}
#bluesky-start {
    padding-top: 100px;
    padding-bottom: 35px;
}
#bluesky-end {
    padding-top: 70px;
    padding-bottom: 100px;
}
.blues-bg {
    background-color: $blues;
    padding-top: 70px;
    padding-bottom: 40px;
}
.blues-bg img {
    width: 58px;
    height: 57px;
}
#white-bg {
    padding-top: 100px;
    padding-bottom: 70px;
}

section{
    h1,h2,p, .media-body {
        color: $default-color;
    }
    h2 {
        font-family: $font-heading2;
        margin-bottom: 2rem;
    }
    h1 {
        font-family: $font-heading;
        font-weight: 700;
        font-size: 40px;
        line-height: 2.9rem;
    }
    p {
        font-family: $font-content;
    }

    
    .media-body h4 {
        text-transform: capitalize;
        font-family: $font-heading;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .mr-45 {
        margin-right: 2rem!important;
    }

    #social-link a {
        color: $icon-color;
        padding: 0 10px;
        font-size: 20px;
    }
    #social-link a .active, #social-link a:hover {
        color: $default-color;
    }

    .btn-info {
        @extend .btn;
        padding: 1.2rem 3rem;
        background-color: #1CBBB3;
        border-color: #1CBBB3;
        box-shadow: 0px 10px 30px 0px rgba(28, 187, 176, 0.4);
    }
}

#white-bg h2 {
    color: #8799A3;
}
#white-bg h1 {
    color: #252525;
    text-transform: capitalize;
    font-weight: 800;
}


#image1, #image3, #image4, #image5, #image6, {
    max-height: 350px;
    // object-fit: cover;
    overflow: hidden;
}

div#colone {
	.col-lg-12>img {
        width: 100%;
    	// object-fit: cover;
	}
	.col-lg-6>img {
		width: 100%;
		height: 230px;
    	object-fit: cover;
    }
    #image1>img{
        transform: scale(1.6);
        height: 350px;
    }
	#image3>img {
        width: 100%;
        height: 230px;
        transform: scale(3.2);
        margin-left: 90px;
        margin-top: -25px;
	}
	#image5>img {
		transform: scale(1.6);
	}
}

div#coltwo {
	.col-lg-12>img {
		height: 580px;
		width: 100%;
    	object-fit: cover;
	}
}

.coltre {
	.col-lg-12>img {
		height: 230px;
		width: 100%;
    	object-fit: cover;
    }
    #image4>img {
        height: 400px;
        width: 100%;
        transform: scale(1);
        margin-top: -30px;
    }
}

#overlay {
    background-color: rgba(14, 20, 29, 0.8);
    padding: 4rem;
    opacity: 0;
    h4 {
		color: #8698a2;
        font-size: 14px;
	}
	p {
		font-size: 15px;
        font-weight: 700;
        font-family: $font-heading;
        a {
            padding: 0 6px;
            img {
                width: 20px;
            }
        }
    }
    &:hover {
        opacity: 1;
        transition: 1.5s ease;
    }
}
#overlay.overlay-active {
    opacity: 1;
}

#bgclient {
    background: url('../../assets/image/bg-client.jpg');
    background-repeat: no-repeat;
    background-position-x: -1500px;
    background-position-y: -800px;
    text-align: center;
    .highlight {
        padding: 190px 0px;
        background-color: rgba(37, 37, 37, 0.767);
    }
    #carouselExampleIndicators {
        margin-bottom: 90px;
    }
    p {
        font-family: $font-content2;
        font-size: 20px;
    }
    h1 {
        text-transform: capitalize;
        margin-bottom: 4.5rem;
        font-weight: 900;
    }
    .img-fluid {
        width: 70%;
    }
    .carousel-inner {
        width: 56%;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 5%;
    }
    .fa-quote-left {
        position: absolute;
        font-size: 2.5rem;
        color: #373737;
        top: 82%;
        left: 48%;
    }
    .media {
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
        h5 {
            color: #FFFF00;
            font-weight: 600;
            font-size: 15px;
        }
        span {
            p {
                font-size: 14px;
                font-weight: 600;
                color: #737373;
                font-family: $font-content;
            }
        }
        h5, p {
            text-transform: capitalize;
            text-align: left;
            font-family: $font-heading;
        }
    }
    a {
        span {
            img {
                width: 15px;
            }
        }
    }
}




