//  'Montserrat', sans-serif;
//  'Leckerli One', cursive;
//  'Cambay', sans-serif;
//  'Coustard', serif;

$font-heading      : 'Montserrat', sans-serif;
$font-heading2     : 'Leckerli One', cursive;
$font-content      : 'Cambay', sans-serif;
$font-content2     : 'Coustard', serif;
$default-color     : #FFFFFF;
$yellow-gold       : #FFFF00;
$bluesky           : #0081ff;
$blues             : #007af3;
$icon-color        : #4ca6fe;
$setengah-space    : 0.5px;
$font-paragraf     : 18px;