//  'Montserrat', sans-serif;
//  'Leckerli One', cursive;
//  'Cambay', sans-serif;
//  'Coustard', serif;

$font-heading      : 'Montserrat', sans-serif;
$font-heading2     : 'Leckerli One', cursive;
$default-color     : #FFFFFF;