//  'Montserrat', sans-serif;
//  'Leckerli One', cursive;
//  'Cambay', sans-serif;
//  'Coustard', serif;

$size-logo         : 140px;
$borderad-btn      : 2rem;
$font-heading      : 'Montserrat', sans-serif;
$nav-color         : #FFFFFF;